# dependencies
node_modules/

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
.history

### Sass ###
.sass-cache/
.scss-cache/
*.css.map
*.sass.map
*.scss.map
*.css

## System ##
.DS_Store