$black: #191919;
$blue: #00ADEE;
$bridal-heath: #FFFBF6;
$dusty-grey: #999;
$dove-grey: #666;
$green: #BED23C;
$grey: #C4C4C4;
$island-spice: #FFFBEC;
$red: #F00;
$seashell: #F1F1F1;
$shadow-color-black: rgba(0, 0, 0, 0.2);
$shadow-color-gray: rgba(50, 50, 50, 0.1);
$shadow-color-most-black: rgba(0, 0, 0, 0.4);
$shadow-color-most-gray: rgba(150, 150, 150, 0.2);
$westar: #E1DDD8;
$white: #FFF;
$yellow: #FC0;
