$book-height: 272px;
$book-width: 216px;
$image-footer-size: 280px;
$nav-height: 70px;
$nav-logo-height: 30px;
$size-content: 1050px;
$text-big: 22px;
$text-medium: 16px;
$text-small: 12px;
$transition-duration: 270ms;
$transition-function: cubic-bezier(0.17, 0.01, 0.19, 0.99);
