.footer {
  align-items: center;
  background-color: $blue;
  display: flex;
  flex-direction: column;
  padding: 50px;

  & > * {
    color: #FFF;
  }

  &-msg {
    font-size: $text-big;
    margin-bottom: 10px;
  }

  &-copyright {
    align-self: flex-end;
    margin-bottom: 10px;
  }
}
