.nav {
  align-items: center;
  background-color: $white;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
  display: flex;
  height: $nav-height;
  justify-content: space-between;
  padding: 20px;
  position: fixed;
  width: 100%;
  z-index: 1;

  &-logo {
    height: $nav-logo-height;
  }

  &-item {
    font-size: $text-big;
  }
}

@media screen and (max-width: 1024px) {
  .dev-tools {
    display: none;
  }
}
