.tech {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 20px;

  &:first-child {
    border-right: 2px solid $green;
    grid-row: 1 / 3;
  }

  &:hover::before {
    $translation-final: ($tech-decoration-offset * 2) - 1;
    transform: translate($translation-final, $translation-final);
  }

  &-title {
    font-size: $text-big;
    margin-bottom: 10px;
  }
  
  &-logo {
    height: $tech-logo-size;
    margin-bottom: 10px;
    max-width: 90%;
  }

  &-description {
    font-size: $text-medium;
    text-align: center;
  }

  &-release-date {
    font-size: $text-medium;
    font-weight: 700;
    margin-bottom: 15px;
  }
}

.tech-list {
  align-items: center;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, $tech-width);
  justify-content: center;
  margin-bottom: 100px;
}
