.tech {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: $tech-width;
  padding: 20px;
  width: 100%;
  height: 100%;

  &:first-child {
    grid-row: 1 / -1;
    border-right: 2px solid $green;
  }

  &-title {
    font-size: $text-big;
    margin-bottom: 10px;
  }
  
  &-logo {
    height: $tech-logo-size;
    margin-bottom: 10px;
    max-width: 90%;
  }

  &-description {
    font-size: $text-medium;
    text-align: center;
  }

  &-release-date {
    font-size: $text-medium;
    font-weight: 700;
    margin-bottom: 15px;
  }
}

.tech-list {
  align-items: center;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, $tech-width);
  grid-template-rows: repeat(2, auto);
  justify-content: center;
  padding: 20px 0;
  margin-bottom: 100px;
}
