.tech {
  align-items: center;
  background-color: $green;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: $tech-decoration-offset 0 0 $tech-decoration-offset;
  max-width: 240px;
  padding: 30px;
  position: relative;
  width: 100%;

  &::before {
    border: 1px solid $green;
    border-radius: 5px;
    content: '';
    height: 100%;
    left: -$tech-decoration-offset;
    position: absolute;
    top: -$tech-decoration-offset;
    width: 100%;
    z-index: -1;
  }

  &-title {
    font-size: $text-big;
    margin-bottom: 10px;
  }
  
  &-logo {
    height: $tech-logo-size;
    margin-bottom: 10px;
  }

  &-description {
    font-size: $text-medium;
    text-align: center;
  }

  &-release-date {
    font-size: $text-medium;
    font-weight: 700;
    margin-bottom: 15px;
  }
}
