.title {
  align-items: center;
  display: flex;
  font-size: $text-big;
  height: $text-decoration-height;
  margin: 20px;

  &::before {
    background: url('images/triangle.svg') no-repeat;
    content: '';
    height: 100%;
    left: 20px;
    position: relative;
    width: $text-decoration-width;
    z-index: -1;
  }
}
