@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$font-family: 'Roboto', sans-serif;
$text-decoration-height: 90px;
$text-decoration-width: 70px;
$text-big: 24px;
$text-medium: 16px;
$tech-logo-size: 100px;
$tech-decoration-offset: 11px;
