.title {
  align-items: center;
  display: flex;
  height: $text-decoration-height;
  font-size: $text-big;

  &::before {
    content: '';
    background: url('images/triangle.svg') no-repeat;
    height: 100%;
    left: 20px;
    position: relative;
    width: $text-decoration-width;
    z-index: -1;
  }
}
